body{
    background-image: url("image/Programingwebblur.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo{
    margin-top: 10%;
}

.font.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    top: 25%;
    color: #ffffff;
    font-size: 50px;
}

.box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-family: sans-serif;
    line-height: 1; 
    backdrop-filter: blur(5px);  
    -webkit-backdrop-filter: blur(5px);
    max-width: 30%;
    max-height: 50%;
    padding: 20px 50px;
    margin: 5%;
  }

.bg-texto{
    color: #ffffff;
    font-size: 20px;
}

.link{
    text-align: center;
    align-items: center;
    justify-content: center;
}