body{
    background-image: url("/image/Programingcomputerblur.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo{
    margin: 10%;
}

.font.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    top: 50px;
    color: #ffffff;
}

.margen{
    margin: 5px 10px;
}

