.titulo{
    margin: 3%;
    text-align: center;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.subtitulo{
    margin: 3%;
    text-align: center;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.row{
    margin: 2%;
    text-align: center;
}