* {
   margin: 0px;
   padding: 0px; 
}

body{
    background: #c3c3c3;
}

.menu{
    list-style: none;
    background: rgb(3, 77, 146);
    padding: 0px 26px;
}

.menu li{
    display: inline-block;
    padding: 10px 26px ;
}

.menu li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    
}
.menu li a:hover{
    color: #d0fc0f;
    
}

.espacio{
    margin-right: 640px;
    margin-left: 0px;
}